body {
    background-color: rgb(25, 25, 25);
    font-family: Arial;
    color: white;
    height: 100vh; 
    margin: 0; 
    display: flex; 
    justify-content: center; 
    align-items: center; 
}

.container {
    text-align: center; 
}

.move-title {
    font-weight: bold;
    font-size: 32px;
    height: 50px;
}

.moves {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}

.move-button {
    background-color: transparent;
    border: 3px solid white;
    height: 120px;
    width: 120px;
    border-radius: 60px;
    cursor: pointer;
    margin-right: 10px;
}

.move-icon {
    width: 50px;
}

.result {
    font-weight: bold;
    font-size: 30px;
}

.score {
    margin-top: 60px;
}

.score-button {
    padding: 8px 15px;
    background-color: white;
    font-size: 15px;
    cursor: pointer;
}
